<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.0d0a.clipsync</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/chenxu/bin/clip-sync</string>
            <string>-a</string>
            <string>192.168.2.50</string>
            <string>-p</string>
            <string>11883</string>
        </array>
        <key>KeepAlive</key>
        <true />
    </dict>
</plist>